
/********************************** ID SELECTORS *******************************************/


/********************************** CLASS SELECTORS *******************************************/


/********************************** ELEMENT SELECTORS *******************************************/

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}

body{
  font-family: 'Montserrat';
  text-align: center;
}

/************************************ Headings ************************************/

.big-heading{
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 2.5rem;
  line-height: 1.5;
}

/*********************************** Container ************************************/

.container-fluid{
  padding: 7% 15%;
}

/************************************* Sections ********************************************/

.colored-section{
  background-color: #FF4C68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/************************************* Navbar *************************************************/

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px 0 18px;
}

.nav-link{
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.25rem;
}


/********************************************** Title ************************************************************/

#title{
  text-align: left;
}

#title .container-fluid{
  padding: 3% 15% 7%;
}

.title-img{
  position: absolute;
  left: 15%;
  transform: rotate(25deg);
  width: 60%;
}

/********************************************* Download Buttons ******************************************************/

.download-btn{
  margin: 5% 3% 5% 0;
}

/********************************************* Feature **********************************************************/

#features{
  position: relative;
}

.feature-desc{
  color: #8f8f8f;
  margin-top: 1rem;
}

.feature-icon{
  color: #ef8172;
}

.feature-icon:hover{
  color: #FF4C68;
}

.feature-section{
  padding: 4%;
}

.feature-text{
  font-size: 1.4rem;
  margin-top: 1rem;
}

/********************************* Testimonials **************************************/

#testimonials{
  background-color: #ef8172;
}

.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text{
  font-size: 2.5rem;
  line-height: 1.5;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  margin: 20px 20px 50px 20px;
  width: 15%;
}

/***************************** Pricing ******************************************/

#pricing{
  padding: 100px;
}

.pricing-col{
  padding: 2% 3%;
}

.pricing-text{
  font-size: 1.4rem;
  margin-top: 1rem;
}

.pricing-price{
  font-size: 2.5rem;
  line-height: 1.5;
}

/***************************** Call To Action ***********************************************/


/****************************** Footer ***********************************************/

.footer-icon{
  margin: 20px 10px;
}

/***************************** Media Query Breakpoints ***************************************/

@media (max-width: 992px)
{
  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0deg);
  }
}
